<div class="row">
    <!-- IZQUIERDA -->
    <div class="col-xs-3" style="border: antiquewhite 4px solid; margin: -10px 0; padding: initial; ">
        <div class="card"  style="height:700px; margin: initial;    box-shadow: -1px -1px 5px 3px rgb(204, 202, 204);">
            {% include 'generator/step_two/pages/pages.html' %}
            {% include 'generator/step_two/components/components.html' %}
        </div>
    </div>

    <!-- CENTRO -->
    <div class="col-xs-6 background">
        <div id="paso2-acordion" class="main-box background">
            <div class="main-box-conf background">
                <div class="mobile-img">
                    <div class="card mobile-content">
                        <div class="card-header text-center mobile-header" style="vertical-align: middle;">
                            <div class="text-left" style="padding: 0; position:absolute; left:0; display: inline-flex">
                                <i id="left_icon" class="color-default text-left" style="font-size: 2.3em" ></i>
                                <span class="color-default" style="font-size:18px;font-style: initial; font-family: Arial;"></span>
                            </div>
                            <div class="text-left">
                                <i id="middle_icon" class="color-default"></i>
                                <span class="color-default" style="font-size:18px;font-style: initial; font-family: Arial;"></span>
                            </div>
                            <div class="text-right" style="padding: 0; position:absolute; right:0; display: inline-flex">
                                <i id="right_icon" class="color-default text-right" style="font-size: 2.3em"></i>
                                <span class="color-default" style="font-size:18px;font-style: initial; font-family: Arial;"></span>
                            </div>
                        </div>

                        <div id="sortable" class="card-body dropzone" style="padding: 0 10px; height: 87%;    overflow: auto;" data-draggable="target">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'generador:dowload' %}"><button class="btn palette-Blue-Grey bg" style="margin-top: 10px; float: right;" id="ContinuarPaso2">Continuar</button></a>
    </div>


    <!-- DERECHA -->
    <div class="col-xs-3" style=" border: antiquewhite 4px solid; margin: -10px 0; padding: initial;">
        <div class="card"  style="height:700px; margin: initial;    box-shadow: -1px -1px 5px 3px rgb(204, 202, 204);    overflow-y: auto; overflow-x: hidden;">
            <div class="card-header  sidebar-block">
                Configuration
            </div>
            <div class="card-body card-padding" style="height: 100%; padding: 10px;">
                <div id="configuracion-general">{% include 'generator/step_two/configuracion/sidebar-menu-principal.html' %}</div>
                <div class="conf" id="configuracion-heading">{% include 'generator/step_two/configuracion/heading.html' %}</div>
                <div class="conf" id="configuracion-paragraph">{% include 'generator/step_two/configuracion/paragraph.html' %}</div>
                <div class="conf" id="configuracion-button">{% include 'generator/step_two/configuracion/button.html' %}</div>
                <div class="conf" id="configuracion-card">{% include 'generator/step_two/configuracion/card.html' %}</div>
                <div class="conf" id="configuracion-container">{% include 'generator/step_two/configuracion/container.html' %}</div>
                <div class="conf" id="configuracion-image">{% include 'generator/step_two/configuracion/image.html' %}</div>
                <div class="conf" id="configuracion-spacer">{% include 'generator/step_two/configuracion/spacer.html' %}</div>
                <div class="conf" id="configuracion-checkbox">{% include 'generator/step_two/configuracion/checkbox.html' %}</div>
                <div class="conf" id="configuracion-input">{% include 'generator/step_two/configuracion/input.html' %}</div>
                <div class="conf" id="configuracion-radio">{% include 'generator/step_two/configuracion/radio.html' %}</div>
                <div class="conf" id="configuracion-search">{% include 'generator/step_two/configuracion/search.html' %}</div>
                <div class="conf" id="configuracion-select">{% include 'generator/step_two/configuracion/select.html' %}</div>
                <div class="conf" id="configuracion-textarea">{% include 'generator/step_two/configuracion/textarea.html' %}</div>
                <div class="conf" id="configuracion-toggle">{% include 'generator/step_two/configuracion/toggle.html' %}</div>
                <div class="conf" id="configuracion-list_divider">{% include 'generator/step_two/configuracion/list_divider.html' %}</div>
                <div class="conf" id="configuracion-thumbnail_list_item">{% include 'generator/step_two/configuracion/thumbnail_list_item.html' %}</div>
                <div class="conf" id="configuracion-icon_list_item">{% include 'generator/step_two/configuracion/icon_list_item.html' %}</div>
                <div class="conf" id="configuracion-avatar_item_list">{% include 'generator/step_two/configuracion/avatar_item_container.html' %}</div>
                <div id="configuracion-style">{% include 'generator/step_two/configuracion/style.html' %}</div>
                <button id='delete-element' class="btn btn-danger waves-effect" style="width: 100%; height: 45px; font-size: 18px;">DELETE</button>
            </div>

        </div>
    </div>

</div>