<div class="row">
    <!-- IZQUIERDA -->
    <div class="col-xs-3" style="border: antiquewhite 4px solid; margin: -10px 0; padding: initial; ">
        <div class="card"  style="height:700px; margin: initial;    box-shadow: -1px -1px 5px 3px rgb(204, 202, 204);">
            {% include 'generator/step_two/pages/pages.html' %}
            {% include 'generator/step_two/components/components.html' %}
        </div>
    </div>

    <!-- CENTRO -->
    <div class="col-xs-6 background">
        <div id="paso2-acordion" class="main-box background">
            <div class="main-box-conf background">
                <div class="mobile-img">
                    <div class="card mobile-content">
                        <div class="card-header text-center mobile-header" style="vertical-align: middle;">
                            <div class="text-left" style="padding: 0; position:absolute; left:0; display: inline-flex">
                                <i id="icon-left" class="color-default text-left" style="font-size: 2.3em" ></i>
                                <span class="color-default" style="font-size:18px;font-style: initial; font-family: Arial;"></span>
                            </div>
                            <div class="text-left">
                                <i id="icon-middle" class="color-default"></i>
                                <span class="color-default" style="font-size:18px;font-style: initial; font-family: Arial;"></span>
                            </div>
                            <div class="text-right" style="padding: 0; position:absolute; right:0; display: inline-flex">
                                <i id="icon-right" class="color-default text-right" style="font-size: 2.3em"></i>
                                <span class="color-default" style="font-size:18px;font-style: initial; font-family: Arial;"></span>
                            </div>
                        </div>

                        <div id="sortable" class="card-body dropzone" style="padding: 0 10px; height: 87%;    overflow: auto;" data-draggable="target">


{#                            <div class="form-group" style="margin-bottom: auto">#}
{#                                <div class="fg-line">#}
{#                                    <p type="text" class="form-control">Field #1</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group" style="margin-bottom: auto">#}
{#                                <div class="fg-line">#}
{#                                    <p type="text" class="form-control">Field #2 </p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'generador:dowload' %}"><button class="btn palette-Blue-Grey bg" style="margin-top: 10px; float: right;" id="ContinuarPaso2">Continuar</button></a>
    </div>


    <!-- DERECHA -->
    <div class="col-xs-3" style=" border: antiquewhite 4px solid; margin: -10px 0; padding: initial;">
        <div class="card"  style="height:700px; margin: initial;    box-shadow: -1px -1px 5px 3px rgb(204, 202, 204);">
            <div class="card-header  sidebar-block">
                Configuracion
            </div>
            <div class="card-body card-padding" style="height: 100%; padding: 10px;">
                {% include 'generator/step_two/configuracion/sidebar-menu-principal.html' %}
                {% include 'generator/step_two/configuracion/list.html' %}
                {% include 'generator/step_two/configuracion/image.html' %}

            </div>
        </div>
    </div>

</div>