
<div class="card-header sidebar-block">
    Components
</div>
<!-- heading-->
<div style="height: 380px; overflow: auto" class="container-component-options">
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-heading draggable" data-draggable="item">
            <span class="icon-component-tittle">Heading</span>
        </span>
    </span>

    <!-- paragraph-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-paragraph draggable"  data-draggable="item">
            <span class="icon-component-tittle">Paragraph</span>
        </span>
    </span>

    <!-- Button-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-button draggable"  data-draggable="item">
            <span class="icon-component-tittle">Button</span>
        </span>
    </span>

    <!-- card-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-card draggable"  data-draggable="item">
            <span class="icon-component-tittle">Card</span>
        </span>
    </span>

    <!-- container-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-container draggable" data-draggable="item">
            <span class="icon-component-tittle">Container</span>
        </span>
    </span>

    <!-- IMAGE-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-image draggable"  data-draggable="item">
            <span class="icon-component-tittle">Image</span>
        </span>
    </span>

    <!-- spacer-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-spacer draggable" data-draggable="item">
            <span class="icon-component-tittle">Spacer</span>
        </span>
    </span>

    <!-- checkbox-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-checkbox draggable" data-draggable="item">
            <span class="icon-component-tittle">Checkbox</span>
        </span>
    </span>

    <!-- form-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-form draggable" data-draggable="item">
            <span class="icon-component-tittle">Form</span>
        </span>
    </span>

    <!-- INPUT-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-input draggable" data-draggable="item">
            <span class="icon-component-tittle">Input</span>
        </span>
    </span>

    <!-- radio-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-radio draggable" data-draggable="item">
            <span class="icon-component-tittle">Radio</span>
        </span>
    </span>

    <!-- search-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-search draggable" data-draggable="item">
            <span class="icon-component-tittle">Search</span>
        </span>
    </span>

    <!-- select-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-select draggable" data-draggable="item">
            <span class="icon-component-tittle">Select</span>
        </span>
    </span>

    <!-- textarea-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-textarea draggable" data-draggable="item">
            <span class="icon-component-tittle">Textarea</span>
        </span>
    </span>

    <!-- toggle-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-toggle draggable" data-draggable="item">
            <span class="icon-component-tittle">Toggle</span>
        </span>
    </span>

    <!-- list divider-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-list-divider draggable" data-draggable="item">
            <span class="icon-component-tittle">List Divider</span>
        </span>
    </span>

    <!-- container list item-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-container-list-item draggable" data-draggable="item">
            <span class="icon-component-tittle" style="bottom: -40px;">Container List Item</span>
        </span>
    </span>

    <!-- thumbnail list item-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-thumbnail-list-item draggable" data-draggable="item">
            <span class="icon-component-tittle" style="bottom: -40px;">Thumbnail List Item</span>
        </span>
    </span>

    <!-- icon list item-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-icon-list-item draggable" data-draggable="item">
            <span class="icon-component-tittle">Icon List Item</span>
        </span>
    </span>

    <!-- avatar list item-->
    <span class="col-xs-6 component-parent">
        <span class="icon-component component-avatar-list-item draggable" data-draggable="item">
            <span class="icon-component-tittle" style="bottom: -40px;">Avatar List Item</span>
        </span>
    </span>
</div>