<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-collapse">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Image
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div id="configuracion-image">
                        <div class="row m-l-5">
                            <label class="sidebar-label">Height: </label>
                            <div class="cp-container sidebar-input" style="padding: 0 20px;">
                                <div class="fg-line">
                                    <input attr-id_target='icon-middle' attr-style="height" type="text" class="form-control" placeholder=Height">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row m-l-5">
                            <label class="sidebar-label">Width: </label>
                            <div class="cp-container sidebar-input" style="padding: 0 20px;">
                                <div class="fg-line">
                                    <input attr-id_target='icon-middle' attr-style="width" type="text" class="form-control" placeholder="Width">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

