{% extends 'utils/admin/base.html' %}
{% load static comun_tags %}
{% block link %}
    <link href="{% static 'css/custom/mobile-content.css' %}" rel="stylesheet">
    <style>
        h2{
            font-size: 15px;
            color: #fff;
            margin: 0;
            font-weight: 400;
            text-transform: uppercase;
        }
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 5px;
            text-transform: none;

        }
        .table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
            padding-bottom: 0
        }

        .infinity-rotateIn {

            -webkit-animation: rotateIn 5s infinite; /* Safari 4.0 - 8.0 */
            animation: rotateIn 5s infinite;
        }
        .form-control{
            background: transparent;
            color: #959595; width: 90%;
            display: inline-block;
            margin-bottom: 10px
        }
        .zmdi-more-vert{
            padding: 1% 4.5% 3.5%;
        }
    .color-default{
        color: #ffffff;
    }
    .mobile-header{
        background: #4444c1;
        padding: 5%;
        height: 13%;
    }
    .sidebar-block {
        color: #222429;
        padding: 0 10px;
        height: 32px;
        line-height: 30px;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.08);
    }

    </style>


{% endblock %}

{% block content %}

    <div class="modal fade" data-modal-color="bluegray" id="modalColor" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modelos a procesar</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="procesar" type="button" class="btn btn-link">Procesar</button>
                    <button type="button" class="btn btn-link cancelar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container" >
        <div class="c-header"></div>

        <div class="card" style="height:80vh; right: 10%">
            <div class="card-header">
                <div role="tabpanel" class="tab">
                    <ul class="tab-nav" role="tablist">
                        <li class="active waves-effect"><a href="#paso1" aria-controls="home9" role="tab" data-toggle="tab">Paso #1</a></li>
                        <li class="waves-effect" role="presentation"><a href="#paso2" aria-controls="profile9" role="tab" data-toggle="tab">Paso #2</a></li>
                        <li class="waves-effect" role="presentation"><a href="#paso3" aria-controls="messages9" role="tab" data-toggle="tab">Paso #3</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- PRIMER PASO -->
                        <div role="tabpanel" class="tab-pane active animated fadeInRight in" id="paso1">
                            <div class="pmb-block">

                                <!-- OPCIONES INICIALES -->
                                <div class="pmbb-header">
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a class="text-center"><i class="zmdi zmdi-refresh infinity-rotateIn" style="font-size: xx-large"></i></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <!-- OPCION SUBIR -->
                                <div class="pmbb-body p-l-30">
                                    <div class="fg-line">
                                        <!-- Error Message -->
                                        {% include 'utils/admin/error_message.html' %}
                                        <!-- END Error Message -->
                                    </div>

                                    <div class="pmbb-edit">
                                        <div class="col-sm-9">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-primary btn-file m-r-10">
                                                <span class="fileinput-new">Seleccione su archivo .py </span>
                                                <span class="fileinput-exists">seleccion completa</span>
                                                <input id="file" type="file" name="...">
                                            </span>
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  PASSSSOOOOO NUMERO 2222  -->
                        <div role="tabpanel" class="tab-pane animated fadeInRight" id="paso2"  style="background: snow; border: snow solid 10px;">
                            <div class="row">
                                <!-- IZQUIERDA -->
                                <div class="col-xs-3" style=" border: snow 4px solid; margin: -10px 0; padding: initial;">
                                    <div class="card"  style="height:70vh; margin: initial;">
                                        <div class="card-header sidebar-block">
                                            Estructura del Proyecto
                                        </div>
                                        <div class="card-body">
                                            <div style="height: 30vh" class="sidebar-block">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- CENTRO -->
                                <div class="col-xs-6">
                                    <div id="paso2-acordion" style="width: 100%; margin: 0 auto;">
                                        <div  style="background-image: url(/static/img/android.png); width: 100%; height: 70vh;background-size: cover; position: absolute;">
                                            <div class="card mobile-content">
                                                <div class="card-header mobile-header  text-center">
                                                        <div class="col-xs-2">
                                                            <i class="color-default text-left zmdi zmdi-arrow-left zmdi-hc-fw" style="font-size: 2.3em" ></i>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <i class="color-default" style="font-size: 1.5em">MY TITLE</i>
                                                        </div>
                                                        <div class="col-xs-2 text-right">
                                                            <i class="color-default text-rigth zmdi zmdi-check zmdi-hc-fw" style="font-size: 2.3em"></i>
                                                        </div>
                                                </div>
                                                <div id="sortable" class="card-body" style="padding: 15px 16px; height: 87%;">

                                                    <div class="form-group" style="margin-bottom: auto">
                                                        <div class="fg-line">
                                                            <p type="text" class="form-control">Field #1</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom: auto">
                                                        <div class="fg-line">
                                                            <p type="text" class="form-control">Field #2 </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn palette-Blue-Grey bg" style="margin-top: 10px; float: right;" id="ContinuarPaso2">Continuar</button>
                                </div>

                                <!-- DERECHA -->
                                <div class="col-xs-3" style=" border: snow 4px solid; margin: -10px 0; padding: initial;">
                                    <div class="card"  style="height:70vh; margin: initial;">
                                        <div class="card-header">
                                        </div>
                                        <div class="card-body card-padding" style=" padding: 15px 33px;">
                                            <div class="btn-demo">
                                                <span>Color Titulo: </span>
                                                <div class="cp-container" style="display: inline-block; margin: 0 20px 0 0; top: 15px;">
                                                    <div class="input-group form-group" style=" margin: auto">
                                                        <span class="input-group-addon"><i class="zmdi zmdi-invert-colors"></i></span>
                                                        <div class="fg-line dropdown">
                                                            <input id="color-title" type="text" class="form-control cp-value" value="#4444c1" data-toggle="dropdown">

                                                            <div class="dropdown-menu">
                                                                <div class="color-picker" data-cp-default="#4444c1"></div>
                                                            </div>

                                                            <i class="cp-value"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-search"></i> Search</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-more-vert"></i> More</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-arrow-forward"></i> Forward</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-arrow-back"></i> Back</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-refresh"></i> Sync</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-check"></i> Check</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-close"></i> Check</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-menu"></i> Menu</button>
                                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-apps"></i> Apps</button>
                                                {#                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-check-all"></i> Done</button>#}
                                                {#                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-trending-up"></i> Up</button>#}
                                                {#                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-apps"></i> Get</button>#}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeInRight" id="paso3">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'vendors/farbtastic/farbtastic.min.js' %}"></script>
    <script src="{% static 'custom/js/ReaderFiles.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('#file').change(function(){
            readBlob('file', 'file-content', 'msg-error');
        });


        $('.cancelar').click(function() {
            window.location.reload();
        });

        $('#procesar').click(function() {
            procesarPaso1();
        });

        $('#ContinuarPaso2').click(function() {
            continuarPaso2();
        })



        $( "#sortable" ).sortable({
            revert: true,
            opacity: 0.7,
            cursor: "move"
        });

        $("#color-title").on('keyup paste', function() {
            $("#paso2-acordion").find(".card-header").css('background', $(this).val());
        });
        $(".color-picker").on('blur click',function () {
            $("#paso2-acordion").find(".card-header").css('background', $("#color-title").val());
        });
{#        $("#sortable .zmdi-more-vert").click(function () {#}

{#        })#}

        {#        $( "#draggable" ).draggable({#}
        {#          connectToSortable: "#sortable",#}
        {#          helper: "clone",#}
        {#          revert: "invalid",#}
        {#            opacity: 0.7,#}
        {#            cursor: "move",#}
        {#            cursorAt: { top: 56, left: 56 }#}
        {#        });#}
        {#        $( "ul, li" ).disableSelection();#}


    </script>
{% endblock js %}