{% extends 'utils/admin/base.html' %}
{% load static comun_tags %}
{% block link %}
    <link href="{% static 'custom/css/form.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom/mobile-content.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.treegrid.css' %}" rel="stylesheet">
    <style>
        .inline-block{
            display: inline-block;
        }
        .swipe-color-margin{
            margin: -5px 8px -5px -8px !important;
        }
        h2{
            font-size: 15px;
            color: #fff;
            margin: 0;
            font-weight: 400;
            text-transform: uppercase;
        }
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 5px;
            text-transform: none;

        }
        .table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
            padding-bottom: 0
        }

        .infinity-rotateIn {

            -webkit-animation: rotateIn 5s infinite; /* Safari 4.0 - 8.0 */
            animation: rotateIn 5s infinite;
        }
        .form-control{
            background: transparent;
            color: #959595; width: 90%;
            display: inline-block;
            margin-bottom: 10px
        }
        .zmdi-more-vert{
            padding: 1% 4.5% 3.5%;
        }
        .color-default{
            color: #ffffff;
        }
        .mobile-header{
            background: #4444c1;
            padding: 5%;
            height: 13%;
        }
        .sidebar-block {
            color: #222429;
            padding: 0 10px;
            height: 32px;
            line-height: 30px;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.08);
        }
        .sidebar-titulo{
            color: #3a7ef5;
            font-size: 13px;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .tree i{
            color: cornflowerblue;
        }

        .sidebar-input{
            display: inline-block;
            width: 200px;
            float: right;
            margin: 0;
            box-shadow: none;
            -webkit-appearance: none
        }
        .sidebar-label{
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow: hidden;
            width: 37%;
            padding-top: 8px;
            color: #868b92;
            font-size: 13px;
            letter-spacing: normal;
        }
        .toggle-switch{
            float: right;
            padding: 10px 20px;
        }
        .dropdown-menu{
            text-transform: capitalize;
            width: 215px !important;
            height: 400px;
            overflow: auto;
        }
        .dropdown-menu li i{

            padding: 10px 0;
            font-size: 1.3em;
        }
        .dropdown-menu li:hover {
            background-color: aliceblue;
        }
        .page:hover{
            cursor:pointer
        }
        .sidebar-separator{

            border: 3px snow solid !important;
            margin: 0 -10px;
            padding: 6px 10px;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.08);
        }


        .position-content{
            margin-top: 5%;
            margin-right: 20%
        }
    </style>


{% endblock %}

{% block content %}

    {% include 'generator/modals.html' %}

    <div class="container" >
        <div class="c-header"></div>

        <div class="card" style="height:750px;">
            <div class="card-header">
                <div role="tabpanel" class="tab">
                    <ul class="tab-nav" role="tablist">
                        <li class="active waves-effect"><a href="#paso1" aria-controls="home9" role="tab" data-toggle="tab">Paso #1</a></li>
                        <li class="waves-effect" role="presentation"><a href="#paso2" aria-controls="profile9" role="tab" data-toggle="tab">Paso #2</a></li>
                        <li class="waves-effect" role="presentation"><a href="#paso3" aria-controls="messages9" role="tab" data-toggle="tab">Paso #3</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- PRIMER PASO -->
                        <div role="tabpanel" class="tab-pane active animated fadeInRight in" id="paso1">
                            {% include 'generator/steps/main-step-one.html' %}
                        </div>
                        <!-- SEGUNDO PASO -->
                        <div role="tabpanel" class="tab-pane animated fadeInRight background" id="paso2"  style="border: antiquewhite solid 10px;">
                            {% include 'generator/steps/main-step-two.html' %}
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeInRight" id="paso3">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'custom/js/ColorPickerEvent.js' %}"></script>
    <script src="{% static 'custom/js/ReaderFiles.js' %}"></script>
{#    <script src="{% static 'js/dropzone.js' %}"></script>#}
    <script src="{% static 'js/jquery.treegrid.min.js' %}"></script>
    <script src="{% static 'custom/example/examples.js' %}"></script>
    <script src="{% static 'custom/js/mobile/tittle.js' %}"></script>
{#    <script src="{% static 'custom/js/interact.js' %}"></script>#}
    <script>
    $('#configuracion-lista').hide()
    $('#id_conf_general_title').click(function () {
        $("#id_conf_general_content").hide()
    })

    inicializar();
    </script>

    <script type="text/javascript">
        $(function() {

            $('#dropzone').on('dragover', function() {
                $(this).addClass('hover');
            });

            $('#dropzone').on('dragleave', function() {
                $(this).removeClass('hover');
            });

            $('#dropzone input').on('change', function(e) {
                readBlob('file', 'file-content', 'msg-error');

                $('#dropzone').addClass('dropped');

            });
        });

        $('.tree').treegrid();
        $('.cancelar').click(function() {
            window.location.reload();
        });

        $('#procesar').click(function() {
            procesarPaso1();
        });

        $('#ContinuarPaso2').click(function() {
            continuarPaso2();
        })


        // SORT PARA BODY EN MOBILE
        $( "#sortable" ).sortable({
            revert: true,
            opacity: 0.7,
            cursor: "move"
        });

        // BUTTON ADD PARA INLINE DE SWIPE
        $('.add').click(function(){
            $('.inline-swipe .inline').removeClass('inline');
            $('.inline-swipe').append($('.inline').clone());
            $('.dropdown-menu li').click(function(){
                $(this).parent().siblings( "button" ).find('.choiced').html($(this).html())
                $(this).parent().siblings( "button" ).find('.choiced div').addClass('swipe-color-margin')
            })
        })



    </script>
    <script>
        id=0;
        $('.draggable').click(function () {
            dropzone = $('.dropzone');
            image = $(this).hasClass('component-image');

            if(image){
                dropzone.append("<div id='" + id + "' class='image-mobile' style='" +
                    "width:100%; height: 200px;" +
                    "background: no-repeat transparent center top url(/static/img/image.png); background-size: cover;" +
                    "'></div>");

                id++;
            }
            inicializar();
        });
    </script>
{% endblock js %}