<div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-collapse">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#list_item" aria-expanded="true" aria-controls="collapseOne">
                    List Item
                </a>
            </h4>
        </div>
        <div id="list_item" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="sidebar-titulo" style="margin-bottom:0">Link</div>

                <div class="row m-l-5 m-r-10" >
                    <select class="chosen"  style="padding: 0 20px;">
                        <option></option>
                        <option value="200">/Page/asdsda/asdasd/</option>
                    </select>
                </div>
                <div class="sidebar-titulo">Item</div>


                <div class="row m-l-5">
                    <label class="sidebar-label">left-icon-text: </label>
                    <div class="cp-container sidebar-input" style="padding: 0 20px;">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                <div class="row m-l-5">
                    <label class="sidebar-label">left-icon: </label>
                    <div class="cp-container sidebar-input" style="padding: 0 20px;">

                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="choiced">No Icon</span>

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% include 'generator/step_two/configuracion/select-icons/icons.html' %}
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row m-l-5">
                    <label class="sidebar-label">Text: </label>
                    <div class="cp-container sidebar-input" style="padding: 0 20px;">
                        <div class="fg-line">
                            <input  type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row m-l-5">
                    <label class="sidebar-label">right-icon: </label>
                    <div class="cp-container sidebar-input" style="padding: 0 20px;">

                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="choiced">No Icon</span>

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% include 'generator/step_two/configuracion/select-icons/icons.html' %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row m-l-5">
                    <label class="sidebar-label">right-icon-text: </label>
                    <div class="cp-container sidebar-input" style="padding: 0 20px;">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                </div>


                <div class="sidebar-titulo">Swipe Button</div>
                <div class="hidden">
                    <div class="inline">
                        <div style="width: 50%; display: inline-block">
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="Button text" style="margin-bottom: auto;">
                            </div>
                        </div>
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="choiced">No color</span>

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li> <div style="width: 20px; height: 20px; background: snow; display: inline-block; margin:5px "></div> snow </li>
                                <li> <div style="width: 20px; height: 20px; background: yellow; display: inline-block; margin:5px "></div> yellow </li>
                                <li> <div style="width: 20px; height: 20px; background: yellowgreen; display: inline-block; margin:5px "></div> yellowgreen </li>
                                <li> <div style="width: 20px; height: 20px; background: lightcoral; display: inline-block; margin:5px "></div> lightcoral </li>
                                <li> <div style="width: 20px; height: 20px; background: lightskyblue; display: inline-block; margin:5px "></div> lightskyblue </li>
                                <li> <div style="width: 20px; height: 20px; background: darkolivegreen; display: inline-block; margin:5px "></div> darkolivegreen </li>
                                <li> <div style="width: 20px; height: 20px; background: lightsteelblue; display: inline-block; margin:5px "></div> lightsteelblue </li>
                                <li> <div style="width: 20px; height: 20px; background: limegreen; display: inline-block; margin:5px "></div> limegreen </li>
                                <li> <div style="width: 20px; height: 20px; background: lightyellow; display: inline-block; margin:5px "></div> lightyellow </li>
                                <li> <div style="width: 20px; height: 20px; background: slateblue; display: inline-block; margin:5px "></div> slateblue </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="inline-swipe"></div>

                <button type="button" class="btn btn-primary add" style="margin: 20px 0">Add</button>

            </div>
        </div>
    </div>
</div>