<!-- MODAL DE MODELOS A PROCESAR -->
<div class="modal fade" data-modal-color="bluegray" id="modalColor" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block">Modelos a procesar</h4>

                <div class='toggle-switch' data-ts-color='lime' style="padding: 0 10px;">
                    <label for='ts3' class='ts-label'>List</label>
                    <input type='checkbox' hidden='hidden' checked>
                    <label class='ts-helper'></label>
                </div>
                <div class='toggle-switch' data-ts-color='amber' style="padding: 0 10px;">
                    <label for='ts3' class='ts-label'>Form</label>
                    <input type='checkbox' hidden='hidden' checked>
                    <label class='ts-helper'></label>
                </div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="procesar" type="button" class="btn btn-link">Procesar</button>
                <button type="button" class="btn btn-link cancelar" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--  END MODAL DE MODELOS A PROCESAR -->