
    @media screen and (max-width: 1000px) and (max-width: 1050px){
        .mobile-content {
            width: 58.2%;
            left: 29%;
            top: 14.5%;
            height: 62.5%;
        }
    }
    @media screen and (min-width: 1051px)  and (max-width: 1100px){
        .mobile-content{
            width: 58%;
            left: 29%;
            top: 14.8%;
            height: 62.5%;
        }
    }
    @media screen and (min-width: 1200px){
        .mobile-content {
            width: 320px;
            left: 164px;
            top: 93px;
            height: 510px;
        }
        .sidebar-input {
             width: auto !important;
        }
        .cp-container{
            width: 60% !important;
        }
        .color-container{
            width: 100px !important;
        }


    }
    @media screen and (min-width: 1440px){

        .mobile-content{
            width: 50%;
            left: 25.26%;
            top: 16%;
            height: 68%;
        }
    }
    @media screen and (min-width: 1450px){

        .mobile-content{
            width: 50%;
            left: 25.26%;
            top: 16%;
            height: 68%;
        }
    }