.background{
    background: antiquewhite;
}


.mobile-content {
    width: 301px;
    left: 25px;
    top: 83px;
    height: 510px;
}
.sidebar-input {
    width: auto !important;
}
.cp-container{
    width: 60% !important;
}
.color-container{
    width: 100px !important;
}



/*PASO 2*/
.main-box{
    width: 100%;
    margin: auto;
}

.main-box-conf{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.mobile-img{
    background: url(/static/img/android.png) no-repeat center center;
    background-size: 600px;
    width: 350px;
    height: 700px;
}

